body {
    margin: 0 auto;
    background: url("../images/background.jpg"), no-repeat, center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvatica, 'Gill Sans' sans-serif;
}

.logo {
    width: 200px;
    height: 200px;
}

.topnav {
    list-style: none;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1026px;
    height: 7vh;
}

.topnav li {
    font-size: 1.3em;
    margin-left: 16px;
}

.topnav a {
    text-decoration: none;
    color: #fff;
}

.header {
    font-size: 80px;
    text-align: center;
    color: white;
    font-weight: 800;
}

.secondary-content {
    width: 530px;
    font-size: 17px;
    text-align: center;
    color: white;
}

.last-content {
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.upper {
    text-transform: uppercase;
    font-weight: 800;
}

.copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    color: white;
    width: 1026px;
    height: 14vh;
}
